<%= form_for @product_type, { html: { :class => 'centered'} } do |f| %>
  <div class="well" style="width: 400px; margin: auto">
    <div class="row" style="padding: 5px">
        <%= label_tag 'Title', nil, :class => 'col-xs-4' %>
        <%= f.text_field :title, value: @product_type.title, placeholder: 'title', :class => 'col-xs-7' %>
    </div>
      <div>
        <div class="btn-group">
          <%= f.submit "Save", class: "btn btn-primary" %>
        </div>
      </div>
  </div>
<% end %>